// Container & Breakpoints
@use 'sass:math';
$containerWidth: 1590;
$containerPadding: 40;
$containerSidePadding: math.div($containerPadding, 2);

$breakpoint1645: 1644.98 + px;
$breakpoint1500: 1499.98 + px;
$breakpoint1450: 1449.98 + px;
$breakpoint1200: 1199.98 + px;
$breakpoint992: 991.98 + px;
$breakpoint768: 767.98 + px;
$breakpoint570: 569.98 + px;
$breakpoint480: 479.98 + px;
$breakpoint375: 374.98 + px;

// Burger Menu
$burgerBreakpoint: $breakpoint992;
$burgerColor: 'black';
$burgerActiveColor: 'black';

// Fonts
$fontMain: sans-serif;
$fontSecondary: '';
